name: CICD

on: [workflow_dispatch]
#on:
  #push:
  #  branches: [ main ]

jobs:
  generate-version:
    runs-on: ubuntu-latest

    permissions:
      contents: write    

    steps:
    - uses: actions/checkout@v3   
    
    - name: Github Tag Bump
      id: tag_bump
      uses: anothrNick/github-tag-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}     
        INITIAL_VERSION: 1.0.2
        DEFAULT_BUMP: patch
        
    outputs:
      new_version: ${{ steps.tag_bump.outputs.new_tag }}


  package-and-publish-contracts:

    runs-on: ubuntu-latest
    needs: generate-version

    permissions:
      contents: read
      packages: write        
      
    steps:
    - uses: actions/checkout@v3
    
    - name: Print new version to logs 
      run: echo "The new version is ${{ needs.generate-version.outputs.new_version }}"

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
        source-url: https://nuget.pkg.github.com/${{github.repository_owner}}/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        
    - name: Pack
      run: | 
        dotnet pack src/Play.Catalog.Contracts/ \
        --configuration Release \
        -p:PackageVersion=${{ needs.generate-version.outputs.new_version }} \
        -p:RepositoryUrl=https://github.com/${{github.repository_owner}}/play.catalog \
        -o packages

    - name: Publish
      run: dotnet nuget push packages/*.nupkg --skip-duplicate            
      

  deploy-microservice:

    runs-on: ubuntu-latest
    needs: 
      - generate-version
      - package-and-publish-contracts 
      
    permissions:
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Azure Login
      uses: Azure/login@v1
      with:
        client-id: ${{secrets.SERVICE_PRINCIPAL_CLIENT_ID}}        
        tenant-id: ${{secrets.TENANT_ID}}      
        subscription-id: ${{secrets.SUBSCRIPTION_ID}}
    
    - name: Login to container registry
      run: az acr login --name ${{secrets.APP_NAME}}
    

    - name: Print new version to logs 
      run: echo "The new version is ${{ needs.generate-version.outputs.new_version }}"

    - name: Build and push Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: ${{secrets.APP_NAME}}.azurecr.io/play.catalog:${{ needs.generate-version.outputs.new_version }}
        build-args: |
          GH_OWNER=${{ github.repository_owner }}
          GH_PAT=${{ secrets.GH_PAT }}
      

    - name: Set Docker image tag 
      id: set_docker_image_tag     
      run: echo "docker_image_tag=${{ secrets.APP_NAME }}.azurecr.io/play.catalog:${{ needs.generate-version.outputs.new_version }}" >> $GITHUB_ENV

   
    - name: Substitute variables in the Kubernetes YAML template
      env:
        IDENTITY_CLIENT_ID: ${{ secrets.IDENTITY_CLIENT_ID }}
        DOCKER_IMAGE: ${{ env.docker_image_tag }}
      run: envsubst < ./kubernetes/catalog.yaml > ./kubernetes/catalog-updated.yaml

    - name: Set AKS context
      run: az aks get-credentials --name ${{ secrets.APP_NAME }} --resource-group ${{ secrets.APP_NAME }}            

    - name: Deploy Signing Cert and Catalog Service
      run: |
          kubectl create namespace catalog || echo "Namespace already exists"          
          kubectl apply -f ./kubernetes/catalog-updated.yaml -n catalog

  #create workload identity
  AssignPodManagedIdentity:
    runs-on: ubuntu-latest
    needs: deploy-microservice
  
    permissions:
      id-token: write
      contents: read
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
  
        
  
      - name: Azure Login
        uses: Azure/login@v1
        with:            
            client-id: ${{secrets.SERVICE_PRINCIPAL_CLIENT_ID}}
            tenant-id: ${{secrets.TENANT_ID}}            
            subscription-id: ${{secrets.SUBSCRIPTION_ID}}   
        
      - name: Set up Azure CLI and run commands
        uses: azure/CLI@v1
        with:
          inlineScript: |        
            appname=${{ secrets.APP_NAME }}
            namespace=catalog
            IDENTITY_RESOURCE_ID=$(az identity show -g $appname -n $namespace --query id -otsv)
            az aks pod-identity add --resource-group $appname --cluster-name $appname --namespace $namespace --name $namespace --identity-resource-id $IDENTITY_RESOURCE_ID
  